.sub-nav{
    display: flex;
    justify-content: space-between;
    max-width: 1185px;
    width: 100%;
}
.container{
    display: flex;
    justify-content: center;
}
.buttonMine{
    padding: 0.5rem;

 
    border-right: 1px solid rgb(230,230,230);
   
    border-left: 1px solid rgb(230,230,230);
   
}